# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtuelle Umgebung
.venv/
.env

# Editor-/System-Dateien
.DS_Store
.vscode/

# Datenbank oder andere Laufzeitdaten
instance/db

# GitHub workflow logs (optional)
*.log
